@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization


<MudLayout>
    <AuthorizeView>
        <Authorized>
            <MudLayout>
                <BodyAdditionSignalR />
                <PreRenderNavBar />
                <MudMainContent id="mainContent" Style="padding-top:48px; padding-bottom:0px;">

                    @Body

                </MudMainContent>
            </MudLayout>

        </Authorized>
        <NotAuthorized>
            @Body <!-- Render the page only, no nav or layout -->
        </NotAuthorized>
    </AuthorizeView>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {

    
}
