@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization


<MudLayout>
    <AuthorizeView>
        <Authorized>
            <style>
                .truncate-text {
                    display: block;
                    max-width: 190px; /* limit how wide it can grow */
                    white-space: nowrap; /* keep it on one line */
                    overflow: hidden; /* hide overflow */
                    text-overflow: ellipsis; /* show ... at the end */
                }
            </style>


            <MudLayout>
                <BodyAdditionSignalR />
                <PreRenderNavBar />
                <MudMainContent id="mainContent" Style="padding-top:48px; padding-bottom:0px;">

                    @Body

                </MudMainContent>
            </MudLayout>

        </Authorized>
        <NotAuthorized>
            @Body <!-- Render the page only, no nav or layout -->
        </NotAuthorized>
    </AuthorizeView>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {


}
